<div class="post">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>


    <div class="form-inputs">

      <%= f.label :avatar, 'Profile Picture' %>
      <br>
      <%= f.file_field :avatar %>
      <br>
      <br>

      <%= f.input :email, required: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>

  <% end %>

   <!--  <h4>Delete my account</h4>
   
<p>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  </p>

<a href="">
      <div class="post-button"><%= link_to "Delete Your Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
  </a> -->

  <br>

  <%= link_to "Back", :back %>
</div>