	<!-- User Navigation-->

	  <div class="bottom-nav">

			
			<!--Nav Buttn Menu -->
			
			<div id="menu-button">
				<%= image_tag("menu.png", :alt => "Menu Button",  :class => "button-img") %>
			</div>
			
			
			<a href="#">
				<div id="nav-button">
					<%= image_tag("message.png", :alt => "Message Button",  :class => "button-img") %>
				</div>				
			</a>
				
			<a href="/">
				<div id="nav-button">
					<%= image_tag("home.png", :alt => "Home Button",  :class => "button-img") %>
				</div>
				
			</a>
				
			<a href="/explore">
				<div id="nav-button">
					<%= image_tag("local.png", :alt => "Explore Button",  :class => "button-img") %>
				</div>
				
			</a>
				
			<a href="/user/<%= current_user.name %>">	
				<div id="nav-button">
					<%= image_tag("profile.png", :alt => "Profile Button",  :class => "button-img") %>
				</div>
				
			</a>
			
	  </div>