<!-- Guest Navigation-->


  
	<header>
		<a href="javascript:history.back()">
			<div id="top-nav-button-left">
				<%= image_tag("back3.png", :alt => "Message Button",  :class => "button-img") %>
			</div>
		</a>

		<a href="#">
			<input type="text" class="mainsearch" placeholder="Search..." >
		</a>

	</header>
	  
	  
  
  <!--Slide Out Menu -->
	  <nav>
		<ul>
			<li>
				<input type="text" class="navsearch" value="Search...">
			</li>
			
			<a href="#">
				<li class="user-prof-nav">
					<%= image_tag("profile.png", :alt => "User Profile",  :class => "nav-prof-photo") %>
					<p class="nav-prof-name">Guest</p>
				</li>
			</a>
			  
			<a href="/">
				<li>				
					<%= image_tag("home.png", :alt => "Home",  :class => "slide-button") %>
					<p class="nav-prof-name">Home</p>
				</li>
			</a>				
			
			<a href="/explore">
				<li>
					<%= image_tag("local.png", :alt => "Local Area",  :class => "slide-button") %>
					<p class="nav-prof-name">Local Area</p>
				</li>
			</a>
			
			<a href="#">
				<li>
					<%= image_tag("message.png", :alt => "Messages",  :class => "slide-button") %>
					<p class="nav-prof-name">Messages</p>
				</li>
			</a>

			<a href="#">
				<li>
					<%= image_tag("faq.png", :alt => "FAQ",  :class => "slide-button") %>
					<p class="nav-prof-name">FAQ</p>
				</li>
			</a>

			<a href="#">
				<li>
					<%= image_tag("settings.png", :alt => "Settings",  :class => "slide-button") %>
					<p class="nav-prof-name">Settings</p>
			    </li>		  
			</a>			
		</ul>
		<div class="nav-bottom">
			<%= link_to('Log In', new_user_session_path) %><br><br>
			<%= link_to('Sign Up', new_user_registration_path) %>
		</div>
	  </nav>


